<h1>Редактировать поставщик <%= @provider.name %></h1>

<%= form_for @provider do |form| %>
  <div>Имя: <%= form.text_field :name %></div>
  <div>Адрес: <%= form.text_field :address %></div>
  <div>Номер телефона: <%= form.text_field :phone_number %></div>
  <%= form.submit 'Обновить' %>
<% end %>

<h2>Ингредиенты</h2>
<ul>
  <% @provider.ingredients.each do |ingredient| %>
    <li>
      <%= form_for ingredient, remote: true do |form| %>
        Имя: <%= form.text_field :name %>
        Последняя цена: <%= ingredient.last_price %>
        <%= form.submit 'Обновить' %>
      <% end %>
    </li>
    <%= button_to 'Обновить цену', new_price_list_path, method: :get, params: { ingredient_id: ingredient.id, provider_id: @provider.id} %>
    <%= button_to 'Удалить', ingredient_path(ingredient), method: :delete %>
  <% end %>
</ul>
<%= button_to 'Новый ингредиент', new_ingredient_path, method: :get, params: { provider_id: @provider.id } %>
