<h1>New recipe for <%= @dish.name %></h1>

<%= form_for :recipe, url: recipes_path, method: :post do |form| %>
  <div><%= form.text_field :name %></div>
  <div><%= form.text_area :description, rows: 10 %></div>
  <div><%= form.select :author_id, Author.all.collect { |author| [author.full_name, author.id]} %></div>
  <%= form.hidden_field :dish_id, value: @dish.id %>
  <div><%= form.submit 'Создать' %></div>
<% end %>
