<% @price_lists.each do |price_list| %>
  <tr>
    <td>
      <%= price_list.created_at.strftime("%d.%m.%Y") %>
    </td>
    <td>
      <%= price_list.provider.address %>
    </td>
    <td>
      <%= price_list.provider.phone_number %>
    </td>
    <td>
      <%= price_list.ingredient.name %>
    </td>
    <td>
      <%= price_list.price %>
    </td>
  </tr>
<% end %>
