<h1>Рецепты для блюда <%= @dish.name %></h1>

<div class="d-flex mb-3">
  <%= button_to 'Редактировать', edit_dish_path(@dish), method: :get, class: "btn btn-primary" %>
  <%= button_to 'Удалить', dish_path(@dish), method: :delete, class: "btn btn-danger ml-2" %>
</div>
<table class="table mb-3 w-50">
  <thead>
    <td>Имя</td>
    <td>Калорийность</td>
  </thead>
  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= link_to recipe.name, recipe_path(recipe) %></td>
        <td><%= recipe.colories %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= button_to 'Новый рецепт', new_recipe_path, method: :get, params: { dish_id: @dish.id }, class: "btn btn-success" %>
