<h1><%= @dish.name %></h1>

<%= button_to 'Редактировать', edit_dish_path(@dish), method: :get %>
<%= button_to 'Удалить', dish_path(@dish), method: :delete %>
<ul>
  <% @recipes.each do |recipe| %>
    <li><%= link_to recipe.name, recipe_path %></li>
  <% end %>
</ul>
<%= button_to 'Новый рецепт', new_recipe_path, method: :get, params: { dish_id: @dish.id } %>
