<!DOCTYPE html>
<html>
  <head>
    <title>Cbook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section class="header d-flex">
      <%= button_to 'Поставщики', providers_path, method: :get, class: "btn btn-primary" %>
      <%= button_to 'Блюда', dishes_path, method: :get, class: "btn btn-primary ml-2" %>
    </section>
    <hr>
    <section class="main">
      <%= yield %>
    </section>
  </body>
</html>
